* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  border: 1px red solid;
}

body {
  height: 100vh;
}

.main-container {
  display: grid;
  height: 100%;
  grid-template-columns: 350px 1fr;
  grid-template-rows: 200px 1fr;
}

.sidebar-container {
  grid-row: span 2;
  background-color: rgb(25, 146, 212);
}

.nav-container {
  grid-column: 2 / 3;
}

.content-container {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
