@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  /* border: 1px red solid; */
  font-family: Roboto, san-serif;
  font-weight: 400;
}

body {
  height: 100vh;
}

.main-container {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
}

.sidebar-container {
  grid-row: span 2;
  background-color: rgb(25, 146, 212);
  display: grid;
  gap: 0px;
  padding: 20px;
  align-content: start;
  justify-content: left;
  grid-template-rows: repeat(10, 60px);
  z-index: 1; /* keep nav shadow from overlapping */
}

.sidebar-container > div {
  color: white;
  padding: 10px;
  font-size: clamp(15px, 26px, 1.5vw);
  font-weight: 500;
  display: grid;
  grid-template-columns: 40px 1fr 1fr;
  gap: 20px;
  align-items: center;
}

div.sidebar-dashboard {
  font-size: clamp(20px, 34px, 2vw);
  font-weight: 1000;
  grid-row: span 2;
  align-self: start;

}

div.communities {
  grid-row: span 2;
  align-self: start;
}

.nav-container {
  grid-column: 2 / 3;
  background-color: rgb(255,255,255);
  box-shadow: 0px 0px 10px gray;
  z-index: 0;
  display: grid;
  grid-template-columns: 1fr 130px 130px 130px;
  grid-template-rows: 1fr 1fr;
  padding: 20px 50px;
  align-items: center;
  gap: 20px;
}

.nav-searchbar {
  display: grid;
  grid-template-columns: 50px 1fr;
  align-items: center;
  min-width: 30vw;
}

.nav-searchbar > svg {
  width: auto !important;
  height: 60% !important;
  viewport-fit: auto;
}

.nav-searchbar > input{
  width: 100%;
  height: 35px;
  border-radius: 20px;
  background-color: rgb(226,232,240);
  border: none;
}

.nav-alarm {
  grid-column: span 3;
  display: flex;
  gap: 30px;
  justify-content: end;
  padding: 0px 20px;
  align-items: center;
}

.nav-alarm > svg {
  width: auto !important;
  height: 30px !important;
}

.nav-icon {
  width: auto;
  height: 60px;
}

.nav-name {
  font-weight: bold;
  font-size: clamp(15px, 25px, 2vw);
}

.nav-greeter {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 20px;
  row-gap: 0px;
}

.nav-iconbig {
  grid-row: span 2;
  width: min(8vw, 100%);
  height: auto;
  align-self: center;
  justify-self: center;
}

.greeter-hi {
  font-weight: bold;
  font-size: clamp(11px, 18px, 1vw);
  align-self: center;
}

.greeter-name {
  font-weight: bold;
  font-size: clamp(20px, 30px, 2vw);
  align-self: start;
  white-space: nowrap;
}

.nav-container > div > button {
  color: white;
  width: 120px;
  height: 50px;
  border-radius: 30px;
  background-color: rgb(25,146,212);
  font-size: 18px;
  font-weight: 500;
  border: none;
}

.content-container {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background-color: rgb(226, 232, 240);
  display: grid;
  grid-template-columns: 3fr 350px;
  grid-template-rows: 1fr 1fr;
  padding: 30px 20px 50px 20px;
  /* align-items: start; */
}

.title {
  font-size: 25px;
  font-weight: 500;
}

.content-projects {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.content-announcements {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: grid;
  gap: 20px;
  align-items: center;
  width: 350px;
  /* overflow: hidden;  messes up the shadow*/
}

.announcements-container {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(128, 128, 128, 0.502);
  display: grid;
  gap: 20px;
}

.announcements-element {
  display: grid;
  gap: 5px;
}

.announcements-subtitle {
  font-size: 18px;
  font-weight: bold;
}

.announcements-subtext {
  color: gray;
}

.announcements-line {
  border-bottom: 1px solid lightgray;
}

.content-trending {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: grid;
  gap: 0px;
  padding-top: 30px;
  width: 350px;
  align-items: start;
}

.trending-container {
  background-color: white;
  box-shadow: 5px 5px 10px rgba(128, 128, 128, 0.502);
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  padding: 30px;
  gap: 20px;
}

.trending-subcontainer {
  display: grid;
  grid-template-columns: 75px 1fr;
  column-gap: 10px;
  align-items: center;
}

.trending-icon {
  grid-row: span 2;
  grid-column: 1 / 2;
  width: 75px;
  height: auto;
}

.trending-subtitle {
  grid-column: 2 / 3;
  grid-row: span 1;
  align-self: end;
}

.trending-subtext {
  grid-column: 2 / 3;
  grid-row: span 1;
  align-self: start;
  color: gray;
}


